
body {
  background-color:green;
}

.well {
  margin:auto;
  margin-top:10px;
  max-width: 40%;
  min-width: 600px;
  background-color:white;
}

.lead {
  color: green;
}

.author{
  float:right; 
  margin-bottom:20px;
}

.source{
  margin-bottom: 15px;
  
}

.footer {
  style=margin-top:20px; 
  color:white; 
  text-align:center
}